@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
@font-face {
  font-family: 'MuseoSansCyrl';
  src: url("../fonts/museosanscyrl-300.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/museosanscyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/museosanscyrl-300.woff2") format("woff2"), url("../fonts/museosanscyrl-300.woff") format("woff"), url("../fonts/museosanscyrl-300.ttf") format("truetype"), url("../fonts/museosanscyrl-300.svg#museosanscyrl-300") format("svg");
  /* Chrome < 4, Legacy iOS */
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'MuseoSansCyrl';
  src: url("../fonts/museosanscyrl-500.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/museosanscyrl-500.eot?#iefix") format("embedded-opentype"), url("../fonts/museosanscyrl-500.woff2") format("woff2"), url("../fonts/museosanscyrl-500.woff") format("woff"), url("../fonts/museosanscyrl-500.ttf") format("truetype"), url("../fonts/museosanscyrl-500.svg#museosanscyrl-500") format("svg");
  /* Chrome < 4, Legacy iOS */
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'MuseoSansCyrl';
  src: url("../fonts/museosanscyrl-700.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/museosanscyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/museosanscyrl-700.woff2") format("woff2"), url("../fonts/museosanscyrl-700.woff") format("woff"), url("../fonts/museosanscyrl-700.ttf") format("truetype"), url("../fonts/museosanscyrl-700.svg#museosanscyrl-700") format("svg");
  /* Chrome < 4, Legacy iOS */
  font-weight: 700;
  font-style: normal; }
.feed-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px; }
  .feed-form input {
    opacity: 1;
    height: 50px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 0 20px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 300;
    color: #4b4b4b; }
    .feed-form input:last-of-type {
      margin-bottom: 20px; }
  .feed-form button {
    width: 100%;
    height: 55px;
    background-color: #c70101;
    border-radius: 5px; }

.button {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  width: 150px;
  height: 30px;
  background-color: #c70101;
  border-radius: 5px; }
  .button_main {
    font-size: 16px;
    width: 300px;
    height: 50px;
    margin-bottom: 18px; }

* {
  font-family: "MuseoSansCyrl"; }

.container {
  max-width: 950px;
  margin: 0 auto; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 91px; }
  .header__logo img {
    max-width: 100%; }
  .header__oficial {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    line-height: 2.4;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: #ffffff; }
    .header__oficial span {
      line-height: 1.5;
      display: block;
      font-size: 18px;
      font-weight: 700;
      color: #ffffff; }
  .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end; }
  .header__phone {
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 8px; }

.promo {
  background: url(../img/bg.jpg) center center/cover no-repeat;
  min-height: 650px;
  padding: 24px 0 93px 0; }
  .promo__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .promo__header {
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 17px; }
  .promo__subheader {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 66px; }
  .promo__icons {
    width: 425px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 68px; }
  .promo__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
    .promo__icon img {
      width: 45px;
      height: 40px;
      margin-bottom: 20px; }
    .promo__icon p {
      font-size: 14px;
      font-weight: 500;
      color: #ffffff;
      max-width: 110px; }
  .promo__link {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff; }
    .promo__link a {
      text-transform: uppercase;
      text-decoration: underline;
      color: #ffffff; }

.advant {
  background-color: #f6f6f6;
  padding: 70px 0 78px 0; }
  .advant__title {
    font-size: 30px;
    font-weight: 700;
    color: #0d0d0d;
    text-align: center;
    margin-bottom: 65px; }
  .advant__subtitle {
    font-size: 18px;
    font-weight: 700;
    color: #0d0d0d;
    margin-bottom: 26px; }
  .advant__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .advant__items p {
      text-align: center;
      font-size: 15px;
      line-height: 1.2;
      font-weight: 300;
      color: #0d0d0d; }
      .advant__items p a {
        text-transform: uppercase;
        text-decoration: underline;
        color: #ff0000; }
  .advant__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 33.33%;
            flex: 1 0 33.33%;
    max-width: 310px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 15px; }
    .advant__item img {
      margin-bottom: 38px; }

.consultantation {
  background: url(../img/form_bg.jpg) center center/cover no-repeat;
  min-height: 680px;
  padding: 100px 0 92px 0; }
  .consultantation__title {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 80px; }
  .consultantation__descr {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 36px; }

@media (max-width: 1024px) {
  .container {
    max-width: 800px; }

  .advant .container {
    max-width: 950px; }

  .promo {
    background: url(../img/bg_header_2.jpg) center center/cover no-repeat; }

  .consultantation__title {
    font-size: 30px; } }
@media (max-width: 850px) {
  .container {
    min-width: 0; }

  .promo {
    padding: 24px 10px 40px 10px; }
    .promo__wrapper {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .promo__header {
      font-size: 30px; }
    .promo__subheader {
      font-size: 18px; }

  .advant {
    padding: 25px 0 35px 0; }
    .advant__title {
      margin-bottom: 50px; }

  .consultantation {
    padding: 60px 0;
    min-height: 500px; }
    .consultantation__title {
      margin-bottom: 50px; }
    .consultantation .container {
      max-width: 650px; } }
@media (max-width: 685px) {
  .header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    margin-bottom: 50px; }
    .header__logo {
      padding-right: 30px;
      -webkit-box-flex: 1;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto; }
    .header__oficial {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto; }
    .header__contacts {
      padding-left: 30px;
      margin-top: 15px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .header__phone {
      margin-bottom: 0;
      margin-right: 15px; }

  .advant img {
    margin-bottom: 12px; }
  .advant__subtitle {
    margin-bottom: 13px; }
  .advant__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .advant__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-bottom: 45px;
    max-width: 425px; }
    .advant__item p {
      font-size: 16px; }

  .consultantation {
    background: url(../img/form_bg_2.jpg) center center/cover no-repeat; }
    .consultantation .container {
      max-width: 500px; }
    .consultantation .feed-form {
      margin: 0 auto; }
    .consultantation__title {
      line-height: 1.2;
      text-align: center;
      font-size: 25px;
      margin: 0 auto;
      margin-bottom: 50px; }
    .consultantation__descr {
      text-align: center; } }
@media (max-width: 530px) {
  .promo__header {
    font-size: 20px; }
  .promo__subheader {
    font-size: 15px;
    margin-bottom: 100px; }
  .promo__icons {
    max-width: 350px;
    margin-bottom: 110px; }
  .promo__icon img {
    max-width: 40px; }

  .button {
    width: 120px;
    font-size: 11px; }

  .button_main {
    width: 200px;
    font-size: 15px; }

  .header {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start; }
    .header * {
      padding: 0; }
    .header__oficial {
      display: none; }
    .header__logo img {
      width: 200px; }
    .header__contacts {
      margin: 0 auto;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: end; }
    .header__phone {
      margin: 0 0 4px 0;
      font-size: 12px; }

  .advant__title {
    font-size: 20px;
    margin-bottom: 50px; } }
@media (max-width: 430px) {
  .advant__item {
    max-width: 320px; }

  .consultantation {
    padding: 45px 0; }
    .consultantation__title {
      line-height: 1.2;
      text-align: center;
      font-size: 17px;
      max-width: 70%;
      margin-bottom: 40px; }
    .consultantation__descr {
      text-align: center;
      font-size: 14px;
      max-width: 70%;
      margin: 0 auto;
      margin-bottom: 30px; } }
@media (max-width: 320px) {
  .header__logo img {
    width: 180px; }
  .header__phone {
    font-size: 10px; }
  .header .button {
    width: 100px;
    font-size: 10px; }

  .promo__subheader {
    margin-bottom: 50px; }
  .promo__icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px; }
  .promo__icon {
    margin-bottom: 35px; }
    .promo__icon img {
      max-width: 40px; }

  .consultantation .feed-form {
    width: 250px; } }
@media (max-width: 355px) and (min-width: 321px) {
  .promo__icons {
    max-width: 320px; }
  .promo__icon p {
    max-width: 90px; }

  .header__phone {
    font-size: 10px; }
  .header .button {
    width: 90px;
    font-size: 9px; } }
