/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/


@font-face {
	font-display: swap;
	font-family: 'MuseoSansCyrl';
	
	src: url('../fonts/museosanscyrl-300.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/museosanscyrl-300.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/museosanscyrl-300.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/museosanscyrl-300.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/museosanscyrl-300.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/museosanscyrl-300.svg#museosanscyrl-300') format('svg'); /* C	ome < 4, Legacy iOS */
		font-weight: normal;
		font-style: normal;
}
@font-face {
	font-display: swap;
	font-family: 'MuseoSansCyrl';
	src: url('../fonts/museosanscyrl-500.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/museosanscyrl-500.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/museosanscyrl-500.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/museosanscyrl-500.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/museosanscyrl-500.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/museosanscyrl-500.svg#museosanscyrl-500') format('svg'); /* Chrome < 4, Legacy iOS */
		font-weight: 500;
		font-style: normal;
}
@font-face {
	font-display: swap;
	font-family: 'MuseoSansCyrl';
	src: url('../fonts/museosanscyrl-700.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/museosanscyrl-700.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/museosanscyrl-700.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/museosanscyrl-700.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/museosanscyrl-700.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/museosanscyrl-700.svg#museosanscyrl-700') format('svg'); /* Chrome < 4, Legacy iOS */
		font-weight: 700;
		font-style: normal;
}


* {
	font-family: 'MuseoSansCyrl', 'Arial','Roboto', sans-serif;
}

hr {
	height: 2px;
	background-color: #e8e8e8;   
	margin-top: 19px;      
  }
.feed-form {
	display: flex;
	flex-direction: column;
	width: 300px;
	& input{
		opacity: 1;
		height: 50px;
		background-color: #ffffff;
		border-radius: 5px;
		padding: 0 20px;
		margin-bottom: 15px;
		font-size: 14px;
		font-weight: 300;
		color: #4b4b4b;
		&:last-of-type{
			margin-bottom: 20px;
		}
		
	}

}


.button {
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	color: #ffffff;
	width: 150px;
	height: 30px;
	border-color: #3498db;
	box-shadow: 0 0 40px 40px red inset, 0 0 0 0 red;
	transition: all 0.2s ease-in-out;
	border-radius: 5px;
	&:hover{
		transition: all 0.2s ;
		border:0px;
		box-shadow: 0 0 10px 0 red inset, 0 0 10px 4px red;
		color:red;
	}
	&_main{
		font-size: 16px;
		width: 300px;
		height: 50px;
		margin-bottom: 18px;
	}
	&_submit{
		width: 100%;
		height: 55px;
		font-size: 16px;
	}
	&_catalog-item{
		width: 131px;
		height: 40px;
		font-size: 14px;
		line-height: 0;
	}
}



.container {
	max-width: 950px;
	margin: 0 auto;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 91px;
		&__logo {
			& img{
				max-width: 100%;
			}
		}
		&__oficial {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			line-height: 2.4;
			text-align: center;
			font-size: 12px;
			font-weight: 500;
			color: #ffffff;
			& span{
				line-height: 1.5;
				display: block;
				font-size: 18px;
				font-weight: 700;
				color: #ffffff;
			}
		}
		&__contacts {
			display: flex;
			flex-direction: column;
			align-items: end;
		}
		&__phone {
			font-size: 18px;
			font-weight: 700;
			color: #ffffff;
			margin-bottom: 8px;
		}
}

.promo {
	background: url(../img/bg.webp) center (center/cover) no-repeat;
	min-height: 650px;
	padding: 24px 0 93px 0;
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items:flex-end;
	}
	&__header {
		font-size: 42px;
		font-weight: 700;
		text-transform: uppercase;
		color: #ffffff;
		margin-bottom: 17px;
	}
	&__subheader {
		text-align: center;
		font-size: 24px;
		font-weight: 500;
		text-transform: uppercase;
		color: #ffffff;
		margin-bottom: 66px;
	}
	&__icons {
		width: 425px;
		display: flex;
		align-items:center;
		justify-content: space-between;
		margin-bottom: 68px;
	}
	&__icon {
		display: flex;
		flex-direction: column;
		align-items:center;
		text-align: center;
		& img{
			width: 45px;
			height: 40px;
			margin-bottom: 20px;
		}
		& p{
			font-size: 14px;
			font-weight: 500;
			color: #ffffff;
			max-width: 110px;
	
		}
	}
	&__link {
		font-size: 16px;
		font-weight: 500;
		color: #ffffff;
		& a{
			display: inline-block;
			text-transform: uppercase;
			border-bottom: 1px solid white;
			color: #ffffff;
			transition: 0.3s all ;
			&:hover{
	
				border-bottom: 1px solid red;
				
			}
		}
	}
}



.advant {
	background-color: #f6f6f6;
	padding: 70px 0 78px 0;
	&__title {
		font-size: 30px;
		font-weight: 700;
		color: #0d0d0d;
		text-align: center;
		margin-bottom: 65px;
	}
	&__subtitle {
		font-size: 18px;
		font-weight: 700;
		color: #0d0d0d;
		margin-bottom: 26px;
	}
	&__items {
		display: flex;
		justify-content: space-between;

		& p{
			text-align: center;
			font-size: 15px;
			line-height: 1.2;
			font-weight: 300;
			color: #0d0d0d;
			& a{
				text-transform: uppercase;
				text-decoration: underline;
				color: #ff0000;
				transition: 0.3s all;
				&:hover{
					font-size: 16px;
				}
			}
		}
	}
	&__item{
		flex: 1 0 33.33%;
		max-width: 310px;
		display: flex;
		flex-direction: column;
		align-items:center;
		padding: 0 15px;
		& img{
			margin-bottom: 38px;
		}
	}


}

.consultantation {
	background: url(../img/form_bg_2.webp) center (center/cover) no-repeat;
	min-height:680px;
	padding: 100px 0 92px 0;
	
	&__title {
		font-size: 36px;
		font-weight: 700;
		text-transform: uppercase;
		color: #ffffff;
		margin-bottom: 80px;
	}
	&__descr {
		font-size: 20px;
		line-height: 1.2;
		font-weight: 500;
		color: #ffffff;
		margin-bottom: 36px;
	}
	.error{
		border: 1px solid red;
	}
	label.error{
		border:none;
		margin-bottom: 15px;
		color:white;
		text-align: center;
	}
}

.carousel{
	padding: 81px 0 108px 0;
	&__inner{
		position: relative;
		width: 750px;
		margin: 0 auto;
	}
	& .slick-prev{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left:-66px;
		background-color:white;
		border:none;
		img{
			width: 31px;
			height: 50px;
		}
	}
	& .slick-next{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right:-66px;
		background-color:white;
		border:none;
		img{
			width: 31px;
			height: 50px;
		}
	}
	& .slick-dots{
		margin-top: 15px;
		display: flex;
		align-items:center;
		justify-content: center;
		& li{
			list-style: none;
			margin: 0 10px;
		}
		& button{
			font-size: 0;
			width: 15px;
			height: 15px;
			background-color:black;
			border-radius:50%;
		}
		& .slick-active button{
			background-color:transparent;
			border: 1px solid black;
		}
	}
}

.catalog {
	padding: 0 0 103px 0;
	&__title {
		font-size: 30px;
		font-weight: 700;
		text-transform: uppercase;
		color: #0d0d0d;
		text-align: center;
		margin-bottom: 69px;
	}
	&__tabs {
		display: flex;
		justify-content: center;
		margin-bottom: 59px;
	}
	&__tab {
		text-align: center;
		line-height: 47px;
		display: block;
		font-size: 18px;
		font-weight: 500;
		text-transform: uppercase;
		color: #6b6b6b;
		width: 220px;
		height: 50px;
		border: 2px solid #d0d0d0;
		transform: skew(-25deg);
		margin-right: 9px;
		cursor: pointer;
		transition: 0.5s all;
		&:hover{
			box-shadow: 5px 5px 20px red;
			border:none;
		}
		&:last-child{
			margin-right: 0;
		}
		& div{
			transform: skew(25deg);
		}
		&_active{
			color:white;
			background-color: #c70101;
			border:none;
		}
	}

	
	&__content {
		display: none;
		flex-wrap: wrap;
		justify-content: center;
		&_active{
			display: flex;
		}
	}
}
.catalog-item {
	position: relative;
	overflow: hidden;
	padding: 20px 20px 26px 20px;
	width: 300px;
	min-height: 440px;
	border: 3px solid #e8e8e8;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	&:nth-child(3n){
		margin-right: 0;
	}
		&__img {
			display: block;
			margin: 0 auto;
			margin-bottom: 20px;
			max-width: 100%;
			height: 200px;
		}
		&__subtitle {
			font-size: 16px;
			font-weight: 700;
			color: #0d0d0d;
			text-align: center;
			margin-bottom: 16px;
		}
		&__descr {
			font-size: 14px;
			line-height: 1.2;
			font-weight: 500;
			color: #0d0d0d;
			text-align: center;
			margin-bottom: 17px;
		}
		& p{
			display: block;
			text-align: center;
		}
		&__link {
			font-size: 14px;
			font-weight: 500;
			color: #c70101;
			border-bottom: 1px solid red;
			&:hover{
				border-style: dashed;
			}

		}
		&__footer {
			padding-top: 21px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&__prices {
			display: flex;
			flex-direction: column;
			font-size: 20px;
			font-weight: 700;
			color: #050505;
			& span{
				font-size: 14px;
				font-weight: 500;
				color: #adadad;
				margin-bottom: 7px;
				text-decoration: line-through;
			}
		}
		&__wrapper{
			width: calc(200% + 40px);
			display: flex;
		}
		&__content{
			transition: 0.5s all;;
			transform: translateX(-120%);
			&_active{
				transform: translateX(0%);
			}
		}
		&__back{
			position: absolute;
			bottom:0;
			left: 50%;
			transform:translateX(calc(-50% - 20px));
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 500;
			color: #c70101;
			border-bottom: 1px solid red;
			&:hover{
				border-style: dashed;
			}
		}
		&__list{
			position: absolute;
			width: 245px;
			height: 316px;
			top: 22px;
			left: 380px;
			transition: 0.5s all;;		
			&_active{
				left: 36px;
			}
			& li{
				position: relative;
				font-size: 14px;
				line-height: 1.2;
				font-weight: 500;
				color: #555555;
				margin-bottom: 25px;
				&:last-of-type{
					margin-bottom: 0;
				}
				&::before{
					content:"";
					width: 5px;
					height: 5px;
					background-color: red;
					position: absolute;
					top: 7px;
					left: -19px;
				}
			}
		}
		
}

.feedback {
	padding: 0 20px 71px 20px;
	&__title {
		text-align: center;
		font-size: 30px;
		font-weight: 700;
		text-transform: uppercase;
		color: #0d0d0d;
		margin-bottom: 70px;
	}
	&__items {
		display: flex;
		flex-direction: column;
	}
	&__item {
		display: flex;
		align-items:flex-start;
		margin-bottom: 102px;
		&:last-child{
			margin-bottom: 0px;
		}
	}
	&__img {
		margin-right: 62px;
	}
	&__list {
		max-width: 660px;
	}
	&__name {
		font-size: 18px;
		font-weight: 700;
		color: #0d0d0d;
		margin-bottom: 10px;
	}
	&__col {
		font-size: 14px;
		font-weight: 300;
		color: #646464;
		margin-bottom: 19px;
	}
	&__descr {
		font-size: 16px;
		line-height: 1.2;
		font-weight: 300;
		color: #0d0d0d;
	}

}

.footer{
	height: 630px;
	position: relative;
	&__info{
		padding: 20px;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 360px;
		height: 240px;
		background-color: #c70101;
	}
	&__addr{
		text-align: center;
		font-size: 20px;
		font-weight: 500;
		color: #ffffff;
		margin-bottom: 36px;
		font-style: normal;
	}
	&__phone{
		display: block;
		font-size: 20px;
		font-weight: 700;
		color: #ffffff;
		text-align: center;
		margin-bottom: 38px;
	}
	&__social{
		display: flex;
		justify-content: space-around;
		text-align: center;
	}
	&__social-item{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50px;
		height: 50px;
		border-radius:50%;
		border:1px solid white;
		&:hover{
				transition: 0.4s all;
				border-radius:50%;
				box-shadow: 1px 10px 20px white;
			}
		
	} 

}


.overlay {
	display: none;
	position: fixed;
	top:0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, .56);
}
.modal {
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 380px;
	background-color: #f2f2f2;
	padding: 38px 38px 40px 38px ;
	& .feed-form{
		width: 100%;
	}
	&__close {
		position: absolute;
		top: 0;
		right: -40px;
		font-size: 41px;
		line-height: 21px;
		color:red;
		cursor: pointer;

	}
	&__subtitle {
		text-align: center;
		font-size: 19px;
		font-weight: 700;
		color: #0d0d0d;
		margin-bottom: 11px;
	}
	&__descr {
		text-align: center;
		font-size: 14px;
		font-weight: 500;
		color: #0d0d0d;
		margin-bottom: 25px;
	}
	&_mini{
		min-height: 140px;
		& .modal__descr{
			margin: 0;
		}
	}
	.error{
		border: 1px solid red;
	}
	label.error{
		border:none;
		margin-bottom: 15px;
		text-align: center;
	}

}

.pageup{
	display: none;
	position: fixed;
	bottom: 40px;
	right: 40px;
	width: 40px;
	height: 40px;
	img{
		width: 100%;
	}
}

.googleMap{
	width: 100%;
	height: 100%;
	border:0;
}

#consultation, #order, #thanks{
	display: none;
}




@media(max-width:1024px){
	.container{
		max-width: 800px;
	}
	.advant{
		.container{
			max-width: 950px;
		}
	}
	.promo{
		background: url(../img/bg_header_2.webp) center (center/cover) no-repeat;
	}
	.consultantation{
		&__title{
			font-size: 30px;
		}
	}
	.carousel{
		&__inner{
			width: 400px;
			img{
				width: 100%;
				text-align: center;
			}
		}
		& .slick-prev{
			left:-50px;
			img{
				width:25px;
				height: 40px;
			}
		}
		& .slick-next{
			right:-50px;
			img{
				width: 25px;
				height: 40px;
			}
		}

	}
	.catalog__tab{
		width: 190px;
	}
	.catalog-item{
		&:nth-child(n){
			margin-right: 30px;
			margin-left: 30px;
		}
	}
}


@media(max-width:850px){

	.container{
		min-width: 0;
	}
	.promo{

		padding: 24px 10px 40px 10px;
		&__wrapper{
			align-items:center;
		}
		&__header{
			font-size: 30px;
		}
		&__subheader{
			font-size: 18px;
		}
	}
	.advant{
		padding: 25px 0 35px 0;
		&__title{
			margin-bottom: 50px;
		}
	}
	.consultantation{
		padding: 60px 0;
		min-height: 500px;
		&__title{
			margin-bottom: 50px;
		}
		& .container{
			max-width: 650px;
		}
	}
	.footer{
		max-height: 550px;
		&__info{
			width: 300px;
			height: 200px;
		}
		&__phone{
			margin-bottom: 25px;
		}


	}
	.modal{
		width: 325px;

	}
}
@media(max-width:685px){
	.header{
		flex-wrap: wrap;
		justify-content: end;
		margin-bottom: 50px;
		&__logo{
			padding-right: 30px;
			flex: 1 0 auto;
		}
		&__oficial{
			flex: 1 0 auto;
		}
		&__contacts{
			padding-left: 30px;
			margin-top: 15px;
			flex-direction: row;
			align-items:center;
		}
		&__phone{
				margin-bottom: 0;
				margin-right: 15px;
			}
		
	}
	.advant{
		img{
			margin-bottom: 12px;
		}
		
		&__subtitle{
			margin-bottom: 13px;
		}
		&__items{
			justify-content: center;
			flex-wrap: wrap;
		}
		&__item{
			flex: 1 1 auto;
			margin-bottom: 45px;
			max-width: 425px;
			& p{
				font-size: 16px;
			}
		}	
	}	
	.consultantation{
		background: url(../img/form_bg_2.webp) center (center/cover) no-repeat;
		& .container{
			max-width: 500px;
		}
		& .feed-form{
			margin: 0 auto;
		}
		&__title{
			line-height: 1.2;
			text-align: center;
			font-size: 25px;
			margin: 0 auto;
			margin-bottom: 50px;
		}
		&__descr{
			text-align: center;
		}
	}
	.catalog{
		&__tab{
			width: 150px;
			font-size: 15px;
		}
		&__title{
			font-size: 25px;
		}
	}
	.feedback{
		&__title{
			margin-bottom: 40px;
			font-size: 25px;
		}
		&__img{
			display: block;
			margin: 0 auto;
			margin-bottom: 15px;
		}

		&__list{
			text-align: center;
		}
		&__item{
		flex-direction: row;
		flex-wrap: wrap;
		max-width: 400px;
		margin: 0 auto;
		margin-bottom: 60px;
	}
	}


}



@media(max-width:530px){

	.promo{
		&__header{
			font-size: 20px;
		}
		&__subheader{
			font-size: 15px;
			margin-bottom: 100px;
		}
		&__icons{
			max-width: 350px;
			margin-bottom: 110px;
			}
		&__icon img{
			max-width: 40px;
		}
	}
	.button_main{
		width: 120px;
		font-size: 11px;
	}
	.button_main{
		width: 200px;
		font-size: 15px;
	}

	.header{
		align-items:start;
		*{
			padding: 0;
		}
		&__oficial{
			display: none;
		}
		&__logo{
				img{
					width: 200px;
				}
		}
		&__contacts{
			margin: 0 auto;
			flex-direction: column;
			align-items: end;
		}
		&__phone{
				margin:0 0 4px 0;
				font-size: 12px;
		}
		
	}
	.advant{
		&__title{
			font-size: 20px;
			margin-bottom: 50px;
		}
	}
	.carousel{
		padding: 81px 0;
		&__inner{
			width: 270px;
		}
		
	}
	.catalog{
		&__tabs{
			flex-direction: column;
			align-items:center;
		}
		&__tab{
			margin: 0 0 20px 0;
			width:280px;

		}
	}
	.feedback{
		padding-bottom: 50px;
	}
	.footer{
		height: 0px;
		& .googleMap{
			display: none;
		}
		&__info{
			height: 145px;
		}
		&__addr{
			font-size: 17px;
			margin-bottom: 20px;
		}
		&__phone{
			font-size: 17px;
			margin-bottom: 20px;
		}
		&__info{
			padding: 20px 0 0 0;
			top: 100%;
			left:0;
			transform: translateX(0%);
			width: 100%;
		}
		&__social{
			justify-content: center;
		}
		&__social-item{
			width: 40px;
			height: 40px;
			margin: 0 10px;
			& img{
				height: 20px;				
			}

		
		}

	}
	.modal{
		width: 280px;

	}
	

	
}

@media(max-width:430px){
	.advant__item{
		max-width: 320px;
	}
	.consultantation{
			padding: 45px 0;
			&__title{
				line-height: 1.2;
				text-align: center;
				font-size: 17px;
				max-width: 70%;
				margin-bottom: 40px;
			}
			&__descr{
				text-align: center;
				font-size: 14px;
				max-width: 70%;
				margin: 0 auto;
				margin-bottom: 30px;
			}
	}
}

@media(max-width:390px){
	.catalog{
		&__title{
			font-size: 20px;
		}
		&__tab{
			width:230px;
			height: 35px;
			line-height: 35px;
		}
	}
	.header{
		&__contacts{
		padding-left: 15px;
		}
	
		& button{
		width: 120px;
	}
	}
	.feedback{
		&__title{
			font-size: 20px;
		}
	}
	.modal{
		width: 240px;
		padding: 20px;
		& .button_submit{
			font-size: 14px;
			height: 45px;
		}

	}
}


@media(max-width:345px){
	.catalog-item{
		width: 200px;
		height: 520px;
		&__list{
			top:10px;
			width: 150px;
			height: 378px;
			& li{
				margin-bottom: 15px;
			}
		}
		&__prices{
			font-size: 15px;
			& span{
				font-size: 13px;
			}
		}

	}
	.modal{
		width: 220px;
		&__close{
			right: -23px;
			font-size: 30px;
		}
	}

}
@media (max-width:325px){
	.header{
		&__logo{
			img{
				width: 180px;
			}
		}
		&__phone{
			font-size: 10px;			
		}
		.button{
			width: 100px;
			font-size: 10px;

		}

	}
	.promo{
		&__subheader{
			margin-bottom: 50px;
		}
		&__icons{
		 flex-direction: column;
		 margin-bottom: 20px;
		}	
		&__icon{
			margin-bottom: 35px;
			img{
				max-width: 40px;
			}

		}	

	}
	.consultantation{
		& .feed-form{
			width: 250px;
			& button{
				font-size: 14px;
			}
		}
	}

}
 @media(max-width:355px) and (min-width:326px){
	.promo{
		&__icons{
			max-width: 320px;
		}
		&__icon{
			p{
				max-width: 90px;
			}
		}
	}
	.header{
		&__phone{
			font-size: 10px;
		}
		.button{
			width: 90px;
			font-size: 9px;
		}
	}
 }
 @media (max-width:314px){
	.header{
		&__contacts{
			margin-top: 15px;
		}
	}
 }

